<h1>Login</h1>
<!-- <p>Find me in app/views/session/new.html.erb</p> -->

<%= form_tag login_path, :class => "login_form" do %>
<p>
    <br>
    <br>
    <%= label_tag :email %>
    <%= email_field_tag :email, "", :required => true %>
</p>
<p>
    <%= label_tag :password %>
    <%= password_field_tag :password, "", :required => true %>
</p>

<%= submit_tag "Login" %>
<% end %>
