<!-- <p>Find me in app/views/users/show.html.erb</p> -->

<h1><%= "User account for #{@user.first_name} #{@user.last_name}"%></h1>


<%= @user.tours.each do |tour| %>
<%= "Tours booked:" %>
<p></p>
<%= tour.name %>
<% end %>


<ul>
    <div class="user3">
        <li><%= "Email address: #{@user.email}" %></li>
        <li><% if @user.admin.to_s == "false" %></li>
        <li><%= "Account Privileges: Customer" %></li>
    <% else %>
        <%= "Account Privileges: Administrator" %>
        <%end %>
    </ul>
</div>

<%if @current_user && @current_user.id == @user.id %>
<div class="controls">
    <%= link_to "Edit", edit_user_path(@user.id) %>
    <%= link_to "Delete Account", user_path(@user.id), :method => :delete %>
</div>

<%end %>
<nav>
    <% if @user.admin.to_s == "true"  %>
    <%= link_to "Create a new country", "/countries/new" %>
    <%= link_to "Create a new city", "/cities/new" %>
    <%= link_to "Create a new tour", "/tours/new" %>
    <%=     link_to("All Users", users_path) %>
    <%end %>
</nav>
