<h1></h1>

<h4><%= "Current Tour: #{@tour.name}"%></h4>
<p></p>
<br>
<%= image_tag (@tour.image) %>
<p></p>
<br class="fix">
<p></p>
<%="Top Facts are: #{@tour.top_facts}" %>
<p></p>
<%="Main highlights are: #{@tour.highlights}" %>
<p></p>
<div>Cities for the tour are:</div>
<p></p>

<% @tour.cities.each do |city| %>
<%= link_to city.name, city_path(city.id) %>
<%end  %>

<p></p>


<div class="controls">
    <% if @current_user == nil %>
    <% %>
    <%elsif @current_user.admin.to_s == "true"  %>
    <%= link_to "Edit tour", edit_tour_path(@tour.id) %>
    <%= link_to "Delete tour", @tour, :method => :delete, :data => { :confirm => "Please confirm?"} %>
    <%end %>
</div>
