<%=form_tag('/results', :method => 'get', :class => "search") do %>

<p></p>

<%= label_tag(:country) %>
<%= collection_select(nil, :country_id, Country.all, :id, :name, :include_blank => :true) %>

<%= label_tag(:city) %>
<%= collection_select(nil, :city_id, City.all, :id, :name, :include_blank => :true) %>

<%= label_tag(:tour) %>
<%= collection_select(nil, :tour_id, Tour.all, :id, :name, :include_blank => :true) %>

<%= submit_tag "Submit Search", :class => "submit_format1" %>
</div>
<% end %>
