<ul>
    <h1><%= "Cities in #{@country.name}" %></h1>
    <div class="container--grid">



    <li class="container-medium">
        <div class="container--innerbox-medium">
            <%= image_tag(@country.image) %>
        </div>

    </li>
    <br class="fix">

    <li class="container-medium">
        <div class="container--innerbox-medium">
            <%="Top Facts are: #{@country.top_facts}" %>
            <p></p>
            <%="Main highlights are: #{@country.highlights}" %>
            <p></p>
            <%="Climate: #{@country.weather}" %>
          <p>Current Cities below:</p>
                      <% @country.cities.each do |w|  %>
                      <%= link_to(w.name, "/cities/#{w.id}") %>
                      <br>
                      <%end  %>

        </div>
    </li>
    </div>
</ul>

<hr>

<h3 class="header--city-center">
    Discover <%=@country.name%>
</h3>

<ul>
    <div class="container--grid">
    <li class="container-medium">
        <div class="container--innerbox-medium">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos necessitatibus perferendis officia consequuntur optio reiciendis excepturi ducimus vel repellat corporis, alias distinctio tempore corrupti dolor aliquam rem totam aut perspiciatis.
        </div>
    </li>
    <li class="container-medium">
        <div class="container--innerbox-medium">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo praesentium, dignissimos tempora aperiam illum aspernatur nam debitis dicta impedit assumenda! Pariatur adipisci, asperiores fugiat dolor fugit commodi assumenda? Soluta, reiciendis?
        </div>
    </li>
    </div>
</ul>

<div class="autoplay">

    <div>
        <%= image_tag("panoramic-alhambra.jpg", :class => "autoplay") %>
    </div>
    <div>
        <%= image_tag("panoramic-mountains.jpg", :class => "autoplay") %>
    </div>

    <div>
        <%= image_tag("forest.jpg", :class => "autoplay") %>
    </div>
    <div>
        <%= image_tag("prague_panoramic.jpg", :class => "autoplay") %>
    </div>
    <div>
        <%= image_tag("beach.jpg", :class => "autoplay") %>
    </div>

    </div>

<br>
<br>
<div class="controls controls-center">
    <% if @current_user == nil %>
    <% %>
    <%elsif @current_user.admin.to_s == "true"  %>
    <%= link_to "Edit Country", edit_country_path(@country.id) %>
    <%= link_to "Delete Country", @country, :method => :delete, :data => { :confirm => "Please confirm?"} %>
    <%end %>
</div>
<br>
