
<!-- <p>Find me in app/views/countries/show.html.erb</p> -->
<h1><%= "Cities in #{@country.name}" %></h1>

<h3></h3>

<ul>
    <% @country.cities.each do |w|  %>
    <li><%= link_to(w.name, "/cities/#{w.id}") %></li>
    <p></p>
    <p></p>
    <%end %>
    <p></p>
</ul>

<p></p>
<%= image_tag (@country.image) %>
<p></p>
<%="Top Facts are: #{@country.top_facts}" %>
<p></p>
<%="Main highlights are: #{@country.highlights}" %>
<p></p>
<%="Climate: #{@country.weather}" %>
<p></p>
<p></p>
<p></p>

<div class="controls">
    <%= link_to "Edit Country", edit_country_path(@country.id) %>
    <%= link_to "Delete Country", @country, :method => :delete, :data => { :confirm => "Please confirm?"} %>
</div>
