<h1></h1>
<ul>
    <div class="container--grid">
    <li class="container-medium">

        <h2 class="header--city-left"><%= @city.name.upcase %></h2>
        <br>
        <div class="header--weather-left">
            <% if @city.country.name =="Germany" %>
                <% @country_code = "DE" %>
            <% else %>
                <%@country_code = "FR"  %>
            <% end %>
            <%= p "Current Temp: #{@weather["main"]["temp"].to_i}" %>
            <%= p "Min: #{@weather["main"]["temp_min"].to_i}" %>
            <%= p "Max: #{@weather["main"]["temp_max"].to_i} (c)" %>
            <%= p "Weather: #{@weather["weather"].first["main"]}"%>
            <%= image_tag "http://openweathermap.org/img/w/#{ @weather["weather"].first["icon"] }.png", :size => "20x20", :class =>"icon" %>
            <br>
        </div>

        <div class="city-country-header">
            <% if @city.country %>
            <%= link_to(@city.country.name, @city.country) %>
            <p></p>
            <p></p>
            <%end %>
        </div>

        <p></p>
        <p></p>
        <div class="container--innerbox-medium">
            <%= image_tag (@city.image) %>
        </div>
    </li>
    <br class="fix">

    <li class="container-medium bottom">
        <div class="container--innerbox-medium">
            <%="Top Facts are: #{@city.top_facts}" %>
            <p></p>

            <%="Main highlights are: #{@city.highlights}" %>
            <p></p>
            <p></p>
            <p>Current Tours below:</p>
            <% @city.tours.each do |tour| %>
            <%= link_to tour.name, tour_path(tour.id) %>
            <br>
            <%end  %>
        </div>
    </li>
    </div>
</ul>
<hr>

<h1 class="city-attractions">
    Explore <%=@city.name%> Attractions
</h1>
<ul>
    <div class="city-main-style">


<li class="container-medium">
    <div class="container--innerbox-medium">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tenetur libero consequuntur veritatis quas ex rerum distinctio ad, nam officiis magni, nobis laboriosam assumenda nulla voluptatibus molestiae earum ea enim?
        </p>

    </div>

</li>
<li class="container-medium">
    <div class="container--innerbox-medium">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sint odit recusandae. Corporis sunt rem, hic deserunt, laboriosam repellendus ea soluta exercitationem blanditiis modi similique explicabo iure eius nobis nulla!    
        </p>

    </div>
</li>
</div>
</ul>

<p></p>
<p></p>
<div class="controls">
    <% if @current_user == nil %>
    <% %>
    <%elsif @current_user.admin.to_s == "true"  %>
    <%= link_to "Edit city", edit_city_path(@city.id) %>
    <%= link_to "Delete city", @city, :method => :delete, :data => { :confirm => "Please confirm?"} %>
    <%end %>
</div>
<p></p>
<p></p>
