<!DOCTYPE html>
<html>
<head>
  <title>TravelsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Lato|Montserrat|Acme" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
</head>
<body class="<%= params[:controller] %> <%= params[:action] %>">

  <% if session[:important] %>
  <h1><%= session[:important] %></h1>
  <%end %>

  <% if flash[:success] %>
  <h1>
    <%= flash[:success] %>
  </h1>
  <% end %>

  <% if flash[:error] %>
  <h1>
    <%= flash[:error] %>
  </h1>
  <% end %>


  <nav>
    <ul class="navbar" id="myNavBar">
        <div class="center--list">
            <li>
                <a id="icon-responsive" href="javascript:void(0);" onclick="navBarFunction()">&#9776;</a>
            </li>
            <li id="span--container">
                <span class="nav-logo">Remarkable Voyages</span>
            </li>
            <li>
                <%= link_to("Home", pages_home_alt_path) %>
            </li>
            <li>
                <%= link_to("Countries", "/countries")%>
            </li>
            <li>
                <%= link_to("Cities", "/cities") %>
            </li>
            <li>
                <%= link_to("Tours", "/tours") %>
            </li>
        <% unless @current_user.present? %>
            <li>
                <%= link_to("Login", login_path()) %>
            </li>
            <li>
                <%= link_to("Sign Up", new_user_path()) %>
            </li>
        <%else %>
            <li>
                <%= link_to("Edit your profile", edit_user_path(@current_user.id)) %>
            </li>
            <li>
                <%= link_to("Log out #{@current_user.first_name} #{@current_user.last_name}", logout_path, :method => :delete) %>
            </li>
        <% end %>
        </div>
    </ul>
  </nav>


<div class="container">

  <div class="push-footer">
    <br>
  </div>

  <%= yield %>



  </div>

<footer>
    <div class="footer-style">
    Remarkable Voyages is a simple travel website created as an educational project for General Assembly's Web Development Immersive Course by Stephen Gibbs
    </div>
  </footer>

</body>
</html>
